@{
    ViewData["Title"] = "Nosotros";
}
<div style="background-color: #f5f5f5;">
    <section class="" >
        <div class="container text-center text-md-start mt-5">
            <div class="row mt-3">
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">
                        <strong class="fas fa-gem me-3"></strong>Empresa QBE
                    </h6>
                    <p>
                        Somos una Empresa dedicada al rubro de la venta de equipos y servicios informaticos, con una larga trayectoria, donde nuestros clientes quedan satisfechos por el servicio optimo que merecen, asegurando que los clientes siempre tengan la mejor calidad y eficiencia en nuestros productos.
                    </p>
                </div>
                <div class="col-md-8 col-lg-7 col-xl-5">
                    <br>
                    <img src="/img/Logo.jpg"  class="img-fluid" alt="Phone image">
                </div>
                <div class="col-md-2 col-lg-2 col-xl-3 mx-auto mb-3">
                    <h6 class="text-uppercase fw-bold mb-4">Servicios</h6>
                    <p><strong class="bi bi-envelope"></strong> elagunau@qbe.net.pe </p>
                    <p><strong class="bi bi-telephone"></strong> +51 000000000</p>
                    <h6 class="text-uppercase fw-bold mb-4">Horarios de Atención</h6>
                    <p><strong class="bi bi-clock"></strong> Lun a Vie - 9 a.m a 10 p.m</p>
                    <p><strong class="bi bi-clock"></strong> Sabados - 10 a.m a 10 p.m</p>
                    <p><strong class="bi bi-clock"></strong> Domingos - 8 a.m a 10 p.m</p>
                </div>
            </div>
        </div>
    </section>
</div>


