
@{
    ViewData["Title"] = "Administrador";
}
<h1>@ViewData["Title"]</h1>
<div class="container">

<a class="nav-link text-dark" asp-area="" asp-controller="Administrador" asp-action="RegistrarProd">Productos</a>
</div>