@model EMPRESA_QBE.Models.Proforma

@{
    ViewData["Title"] = "Edit";
}

<h4>Agregar Mas Productos</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-controller="Proforma" asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="UserID" />
            <input type="hidden" asp-for="Precio" />
            <div class="form-group">
                <label asp-for="Cantidad" class="control-label"></label>
                <input asp-for="Cantidad" class="form-control" />
                <span asp-validation-for="Cantidad" class="text-danger"></span>
            </div>
          
            <br>
            <div class="form-group">
                <input type="submit" value="Grabar" class="btn btn-primary" />
                <a class="btn btn-success" asp-action="Index">Regresar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}